## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [1]:
#write here and run the cell
def print_table():

    start = 1
    end = 10

    # Iterate through numbers 1 to 10 for creating tables
    for i in range(start, end + 1):
        print(f"Multiplication Table for {i}")
        print("-" * 20)
        for j in range(start, end + 1):
            print(f"{i} x {j} = {i * j}")
        print()

# Call the function to print the tables
print_table()

Multiplication Table for 1
--------------------
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication Table for 2
--------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication Table for 3
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication Table for 4
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication Table for 5
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Multiplication Table for 6
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Multiplication Table for 7
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Multiplication Table for 8
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Multiplication Table for 9
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Multiplication Table for 10
--------------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [2]:
#write here and run the cell
def create_combined_list(l1, l2):
    # Initialize an empty list
    l3 = []

   2
    for i in range(len(l1)):
        # Pick odd-index elements from l1
        if i % 2 != 0:
            l3.append(l1[i])

    for j in range(len(l2)):
        # Pick even-index elements from l2
        if j % 2 == 0:
            l3.append(l2[j])

    return l3

# Example lists
l1 = [1, 2, 3, 4, 5, 6]
l2 = ['a', 'b', 'c', 'd', 'e', 'f']

# Create the third list
l3 = create_combined_list(l1, l2)

# Print the result
print("List l1:", l1)
print("List l2:", l2)
print("Combined list l3:", l3)

List l1: [10, 20, 30, 40, 50, 60]
List l2: ['a', 'b', 'c', 'd', 'e', 'f']
Combined list l3: [20, 40, 60, 'a', 'c', 'e']

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [4]:
#write here and run the cell
def print_pattern(rows):
    # Iterate through each row
    for i in range(rows):
        # Print leading spaces
        print(' ' * (2 * i), end='')
        # Print asterisks
        print('* ' * (rows - i))

# Define the number of rows
rows = 8

# Call the function to print the pattern
print_pattern(rows)

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [5]:
#write here and run the cell
def exponent(base, exp):
    result = 1

    # Multiply the result by base, exp number of times
    for _ in range(exp):
        result *= base

    return result

# Example usage
base = 5
exp = 4
print(f"{base} raised to the power of {exp} is: {exponent(base, exp)}")

5 raised to the power of 4 is: 625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [6]:
#write here and run the cell
def create_test_file():
    # Content to be written to test.txt
    content = """line1
line2
line3
line4
line5
line6
line7"""

    # Write the content to test.txt
    with open('test.txt', 'w') as file:
        file.write(content)

def copy_file_excluding_line(input_file, output_file, line_to_skip):
    # Read the content of the input file
    with open(input_file, 'r') as infile:
        lines = infile.readlines()

    # Write the content to the output file, skipping the specified line
    with open(output_file, 'w') as outfile:
        for index, line in enumerate(lines):
            if index != line_to_skip:
                outfile.write(line)

# Create the initial file
create_test_file()

# Define file names and the line to skip (zero-based index)
input_filename = 'test.txt'
output_filename = 'new_test.txt'
line_to_skip = 4  # Skipping the fifth line (index 4)

# Copy the content to the new file, skipping the specified line
copy_file_excluding_line(input_filename, output_filename, line_to_skip)

print(f"Content from {input_filename} has been copied to {output_filename}, skipping line number {line_to_skip + 1}.")

Content from test.txt has been copied to new_test.txt, skipping line number 5.

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [7]:
#write here and run the cell
def print_names():
    # Read a single line of input from the user
    input_string = input("Enter names separated by spaces: ")

    # Split the input string into a list of names
    names = input_string.split()

    # Print each name on a new line
    for name in names:
        print(name)

# Call the function
print_names()

Enter names separated by spaces: IIT J R
IIT
J
R

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [8]:
#write here and run the cell
def show_employee(name, salary=9000):
    # Print the employee's name and salary
    print(f"Name: {name} salary: {salary}")

# Test the function with different inputs
show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [9]:
#write here and run the cell
import re

def find_words_with_letters_and_digits(input_string):
    # Split the input string into words
    words = input_string.split()

    # Initialize a list to store words that contain both letters and digits
    result = []

    # Check each word
    for word in words:
        # Check if the word contains both letters and digits
        if re.search(r'[a-zA-Z]', word) and re.search(r'\d', word):
            result.append(word)

    # Print the result
    for word in result:
        print(word)

# Example input
str1 = "Harry25 is Gryffindor Wizard50 and cursed"

# Call the function with the example input
find_words_with_letters_and_digits(str1)

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [10]:
#write here and run the cell
import re

def replace_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    # This pattern will match any character that is not a letter or digit
    pattern = r'[^a-zA-Z0-9\s]'

    # Substitute special characters with '#'
    result = re.sub(pattern, '#', input_string)

    return result

# Example input
str1 = '/*Modi is @Politician & Melony!!'

# Call the function with the example input
output = replace_special_characters(str1)

# Print the output
print(output)

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [11]:
#write here and run the cell
def construct_pairs(first_list, second_list):
    # Ensure both lists have the same length
    if len(first_list) != len(second_list):
        raise ValueError("Both lists must have the same length")

    # Use a set comprehension to create pairs and store them in a set
    result_set = {(first_list[i], second_list[i]) for i in range(len(first_list))}

    return result_set

# Given lists
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

# Construct the set of pairs
result = construct_pairs(first_list, second_list)

# Print the result
print("Result is", result)

Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [13]:
#write here and run the cell
# Define two sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# Perform the set operations
difference_A_B = A - B
difference_B_A = B - A
intersection_A_B = A & B
union_A_B = A | B

# Print the results
print("A - B:", difference_A_B)
print("B - A:", difference_B_A)
print("A ∩ B:", intersection_A_B)
print("A ∪ B:", union_A_B)

A - B: {1, 2, 3}
B - A: {8, 6, 7}
A ∩ B: {4, 5}
A ∪ B: {1, 2, 3, 4, 5, 6, 7, 8}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [14]:
#write here and run the cell
class Vehicle:
    def __init__(self, max_speed, mileage):
        # Initialize the instance attributes
        self.max_speed = max_speed
        self.mileage = mileage

    def display_info(self):
        # Method to display vehicle information
        print(f"Max Speed: {self.max_speed} km/h")
        print(f"Mileage: {self.mileage} km")

# Example usage
vehicle1 = Vehicle(180, 15000)
vehicle2 = Vehicle(120, 25000)

# Display information about the vehicles
print("Vehicle 1 Information:")
vehicle1.display_info()

print("\nVehicle 2 Information:")
vehicle2.display_info()

Vehicle 1 Information:
Max Speed: 180 km/h
Mileage: 15000 km

Vehicle 2 Information:
Max Speed: 120 km/h
Mileage: 25000 km

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [15]:
#write here and run the cell
# Define the parent class Vehicle
class Vehicle:
    def __init__(self, max_speed, mileage):
        # Initialize the instance attributes
        self.max_speed = max_speed
        self.mileage = mileage

    def display_info(self):
        # Method to display vehicle information
        print(f"Max Speed: {self.max_speed} km/h")
        print(f"Mileage: {self.mileage} km")

# Define the child class Bus that inherits from Vehicle
class Bus(Vehicle):
    def __init__(self, max_speed, mileage):
        # Initialize the parent class attributes
        super().__init__(max_speed, mileage)

# Create a Bus object
my_bus = Bus(100, 30000)

# Display information about the bus
print("Bus Information:")
my_bus.display_info()

Bus Information:
Max Speed: 100 km/h
Mileage: 30000 km

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [16]:
#write here and run the cell
# Define the parent class Vehicle
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        # Initialize instance attributes
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        # Method to return seating capacity information
        return f"The seating capacity of a {self.name} is {capacity} passengers"

# Define the child class Bus that inherits from Vehicle
class Bus(Vehicle):
    def __init__(self, name, max_speed, mileage):
        # Initialize the parent class attributes
        super().__init__(name, max_speed, mileage)

    def seating_capacity(self, capacity=50):
        # Override the parent class method with default capacity
        return super().seating_capacity(capacity)

# Create a Bus object
my_bus = Bus("City Bus", 80, 20000)

# Display the seating capacity with the default value
print(my_bus.seating_capacity())  # Should use default capacity of 50

# Display the seating capacity with a custom value
print(my_bus.seating_capacity(60))  # Should use custom capacity of 60

The seating capacity of a City Bus is 50 passengers
The seating capacity of a City Bus is 60 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [3]:
# Define the parent class Vehicle
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        # Default fare calculation
        return self.capacity * 100

# child class Bus that inherits from Vehicle
class Bus(Vehicle):
    def fare(self):
        # base fare
        base_fare = super().fare()
        #  maintenance fee = (10% of base fare)
        maintenance_fee = base_fare * 0.10
        # Total fare = base fare + maintenance fee
        return base_fare + maintenance_fee

# Create a Bus object
school_bus = Bus("School Volvo", 12, 50)

# total fare for the bus
print("Total Bus fare is:", school_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [4]:
#write here and run the cell
import json
data = {"key1": "value1", "key2": "value2"}

json_data = json.dumps(data)

print(json_data)

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [7]:
#write here and run the cell
import json

# Given dictionary
sampleJson = {"id": 1, "name": "value2", "age": 29}

# Open a file in write mode
with open('sorted_json_output.json', 'w') as file:
    # Write the JSON data to the file with sorted keys
    json.dump(sampleJson, file, sort_keys=True, indent=4)

print("JSON data has been written to 'sorted_json_output.json' with sorted keys.")
{
    "age": 29,
    "id": 1,
    "name": "value2"
}

JSON data has been written to 'sorted_json_output.json' with sorted keys.

{'age': 29, 'id': 1, 'name': 'value2'}